html,body
{
width = 100%;
height = 100%;
}

body #container
{
position:relative;
margin:auto 5% auto 5%;
padding:1%;
top:5%;
width = 90%;
height = 90%;
}


body header
{
position:relative;s
width:90%;
height:10%;
}
body #main
{
position:relative;
top:1%;
width:90%;
height:70%;
}
body footer
{
position:relative;
top:1%;
width = 90%;
height = 15%;
}